<div class="d-flex justify-content-center align-items-center  body">
    <div class="d-flex flex-column align-items-center">
        <h2 class="h2-style mb-4">Bienvenue sur la page de connexion</h2>
        <div class="login-container mt-4">
            <h2>Connexion</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div>
                    <input id="username" formControlName="username" placeholder="Nom d'utilisateur">
                </div>
                <div>
                    <input id="password" type="password" formControlName="password" placeholder="Mot de passe">
                </div>
                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>
</div>