<ng-container *ngIf="!isLoginPage">
  <mat-toolbar color="primary" class="d-flex justify-content-between">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="dropdown">
      <div class="d-flex flex-column align-items-center text-center" data-bs-toggle="dropdown" aria-expanded="false">
        <button mat-icon-button aria-label="Menu icon">
          <mat-icon>person</mat-icon>
        </button>
        <div>
          <span class="name-user">{{currentUser?.role}}</span>
        </div>
      </div>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" type="button" (click)="logout()">Déconnexion</button></li>
      </ul>
    </div>
  </mat-toolbar>

  <mat-sidenav-container autosize>
    <mat-sidenav [opened]="true" [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile">
      <mat-nav-list>
        <a mat-list-item routerLink="Accueil" routerLinkActive="active" *ngIf="isInfoService">
          <span class="entry">
            <img src="../assets/Home.png" alt="home" />
            <span *ngIf="!isCollapsed">Accueil</span>
          </span>
        </a>
        <a mat-list-item routerLink="Ordinateur">
          <span class="entry">
            <img src="../assets/ordinateur.png" width="25" height="26" alt="ordinateur" />
            <span *ngIf="!isCollapsed">Ordinateurs</span>
          </span>
        </a>
        <a mat-list-item routerLink="Probleme">
          <span class="entry">
            <img src="../assets/depannage.png" width="25" height="26" alt="ordinateur" />
            <span *ngIf="!isCollapsed">Problèmes</span>
          </span>
        </a>
        <a mat-list-item routerLink="Utilisateur" routerLinkActive="active" *ngIf="isAdmin">
          <span class="entry">
            <img src="../assets/Home.png" alt="home" />
            <span *ngIf="!isCollapsed">Utilisateurs</span>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-container *ngIf="isLoginPage">
  <router-outlet></router-outlet>
</ng-container>
